<p id="notice"><%= notice %></p>

<p>
  <strong>Type:</strong>
  <%= @contact.type %>
</p>

<p>
  <strong>Data:</strong>
  <%= @contact.data %>
</p>

<p>
  <strong>Client:</strong>
  <%= @contact.client %>
</p>

<%= link_to 'Edit', edit_contact_path(@contact) %> |
<%= link_to 'Back', contacts_path %>
