<!DOCTYPE html>
<html>
<head>
  <title>E-Vader</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<%= render partial: "partials/navbar" %>
	<div class = "main-section">
		<%= yield %>
	</div>
</body>
</html>
